.mainhead-title {
  font-weight: 400;
  font-size: var(--heading-one);
  color: var(--text-dark);
  margin-bottom: 25px;
  width: 70%;
  line-height: var(--heading-line-height);
}

.mainhead-meta .author-info {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  font-size: 16px;
  color: var(--foot-color);
  font-weight: 400;
  flex-wrap: wrap;
}

.mainhead-meta span {
  display: inline-block;
}

.author-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border: 1px solid gainsboro;
  border-radius: 50%;
}

.feature-img {
  margin: 40px 0;
  min-height: 500px;
  border-radius: var(--border-radius);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .mainhead-title {
    width: 100%;
  }
  .mainhead-meta .author-info {
    gap: 10px;
  }
  .feature-img {
    min-height: 250px;
  }
}
