.partA-card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  margin: 20px auto;
  max-width: 1104.14px;
  max-height: 227.75px;
}

.partA-content {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.partA-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-dark);
  margin-bottom: 15px;
}

.partA-text {
    max-width: 460.73px;
  font-size: 14px;
  line-height: 1.6;
  color: var(--para-text);
  margin-bottom: 25px;
}

.partA-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.partA-date {
  color: var(--foot-color);
}

.partA-link {
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
}

.partA-link:hover {
  text-decoration: underline;
}

.partA-image {
  flex: 1;
  min-width: 300px;
  max-width: 450px;
  background-image: url("/PartA.png");
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  .partA-card {
    max-width: 95%;        
    max-height: none;      
  }

  .partA-image {
    min-width: 250px;      
    max-width: 350px;
  }

  .partA-content {
    padding: 40px;          
  }
}
@media (max-width: 900px) {
  .partA-card {
    flex-direction: column;   
    max-width: 100%;
    max-height: none;
  }

  .partA-image {
    width: 100%;
    min-height: 200px;       
    max-width: 100%;
  }

  .partA-content {
    padding: 20px;
  }

  .partA-title {
    font-size: 20px;
  }

  .partA-text {
    font-size: 13px;
  }
}
