.service-stats {
  height: fit-content;
  width: 100%;
  padding: 40px var(--left-space);
  background-color: black;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-stats h2 {
  color: var(--secondary-color);
  text-align: center;
  position: relative;
  z-index: 2;
  width: 50%;
  margin: 0px auto 20px;
}
.service-stats .description1 {
  color: var(--secondary-color);
  text-align: center;
  width: 80%;
  margin: 0px auto;
}

.service-stats .stats-footer {
  display: flex;
  margin: 60px 0 20px;
}
.service-stats .each-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-right: 1px solid var(--secondary-color);
  height: fit-content;
  min-height: 200px;
  padding: 0 40px;
}
.service-stats .each-stat:last-child {
  border-right: none;
}
.service-stats .each-stat strong {
  font-size: var(--heading-four);
}
.service-stats .each-stat p {
  text-align: center;
}

/* buttons */

.service-stats .black-filled {
  display: flex;
  align-items: center;
  gap: 15px;
  outline: none;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 8px;
  padding-left: 15px;
  border-radius: var(--border-radius2);
  cursor: pointer;
  color: var(--primary-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--default-p-size);
}
.service-stats .black-outline {
  display: flex;
  align-items: center;
  gap: 15px;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  padding: 8px;
  padding-left: 15px;
  border-radius: var(--border-radius2);
  cursor: pointer;
  color: var(--secondary-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--default-p-size);
}
.service-stats .black-filled span {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-stats .black-outline span {
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-stats .black-filled span svg {
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
  flex-shrink: 0;
  color: var(--secondary-color);
}
.service-stats .black-outline span svg {
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
  flex-shrink: 0;
  color: var(--primary-color);
}

.service-stats .black-filled:hover span svg {
  transform: rotate(0deg);
  color: var(--secondary-color);
}
.service-stats .black-outline:hover span svg {
  transform: rotate(0deg);
  color: #e06400;
}
.service-stats .black-filled:hover {
  background-color: var(--secondary-color);
  color: var(--text-dark);
  border: 1px solid var(--text-dark);
}
.service-stats .black-outline:hover {
  background-color: transparent;
  color: var(--secondary-color);
}
.service-stats .black-filled:hover span {
  background-color: var(--text-dark);
  color: var(--secondary-color);
}
.service-stats .black-outline:hover span {
  background-color: var(--secondary-color);
}

@media (max-width: 900px) {
  .service-stats h2 {
    width: 100%;
  }
  .service-stats .description1{
    width: 100%;
  }
  .service-stats .stats-footer {
    margin: 10px 0;
    flex-direction: column;
  }
  .service-stats .each-stat {
    border-right: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 20px;
  }
  .service-stats .each-stat:last-child {
    border-bottom: none;
  }
  .service-stats .black-filled{
    padding: 6px;
    padding-left: 12px;
    font-size: 10px;
  }
  .service-stats .black-outline {
    padding: 6px;
    padding-left: 12px;
    font-size: 10px;
  }
  .service-stats .black-filled span {
    width: 25px;
    height: 25px;
  }
  .service-stats .black-outline span {
    width: 25px;
    height: 25px;
  }
}
