.smm-hero {
  position: relative;
  height: auto;
  width: 90%;
  margin: auto;
  padding: 20px var(--left-space);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.smm-hero::before {
  content: "";
  position: absolute;
  inset: 0; /* covers the whole div */
  background: url("/world-map.svg");
  opacity: 0.8; 
  z-index: 0; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.smm-hero * {
  position: relative; /* keep content above the bg */
  z-index: 1;
}

.smm-hero p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .smm-hero {
    height: fit-content;
    gap: 10px;
    padding: 10px var(--left-space);
    margin-top: 40px;
  }
  .smm-hero p {
    width: 100%;
  }
  .smm-hero::before {
    background-size: contain;
    background-position: center;
    opacity: 0.1;
  }
}
