.yt-auto-hero {
  height: fit-content;
  width: 100%;
  padding: 20px var(--left-space);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.yt-auto-hero .hero-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
}
.yt-auto-hero .hero-bottom .left {
  width: 60%;
}
.yt-auto-hero .hero-bottom .right {
  width: 40%;
}
.yt-auto-hero .yt-hero-img {
  height: 400px;
  display: flex;
  justify-self: center;
}
.yt-auto-hero p {
  text-align: justify;
  margin-bottom: 15px;
}

@media (max-width: 900px) {
  .yt-auto-hero {
    gap: 10px;
    padding: 10px var(--left-space);
  }
  .yt-auto-hero .yt-hero-img {
    width: 100%;
  }
  .yt-auto-hero .hero-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  .yt-auto-hero .hero-bottom .left {
    width: 100%;
  }
  .yt-auto-hero .hero-bottom .right {
    width: 100%;
  }
  .yt-auto-hero .yt-hero-img {
    height: 300px;
  }
}
