.our-mission {
  height: fit-content;
  width: 100%;
  padding: 40px var(--left-space);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #d5d5d533;
}
.our-mission .mission-img {
  width: 100%;
  max-width: 1440px;
}
.our-mission p {
  text-align: center;
  width: 70%;
  line-height: var(--p-line-height);
  font-size: var(--default-p-size);
}

@media (max-width: 900px) {
  .our-mission {
    gap: 10px;
    padding: 10px var(--left-space);
  }
  .our-mission .mission-img {
    width: 100%;
  }

  .our-mission p {
    width: 100%;
  }
}
