.blog-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: var(--default-p-size);
  width: fit-content;
  min-width: 150px;
  padding: 0 12px;
  height: 32px;
  margin: 20px auto;
  border: none;
  border-radius: var(--border-radius);
}

.blog-btn .icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
.button2-desc {
  text-align: center;
  width: 90%;
  margin: 10px auto;
}
