.Digital-aura{
    height: 420px;
    width: 100%;
    background-color: var(--light-gray);
}
.auraImg {
    height: 150px;
    width: 80%;
    margin: 0px 10%;
    /* background-color: pink; */
}
.auraImg img{
    margin-top: 20px;
    height: 110px;
}
.meet{
    display: flex;
    height: 250px;
    width: 85%;
    background-color: var(--orange-color);
}
.meetL{
    width: 70%;
    position: relative;
}
.meetH1{
    font-size: 24px;
    font-weight: 600;
    width: 40%;
    margin: 10px 10%;
    color: var(--secondary-color);
}
.meetH2{
    font-size: 14px;
    font-weight: 100;
    width: 80%;
    margin: 20px 10%;
    color: var(--secondary-color);
}

.meetR{
    width: 30%;
    position: relative;
}

.meetR img{
    height: 420px;
    position: absolute;
    bottom: 0;
}

@media(max-width: 970px){
    .auraImg {
        height: 80px;
       
    }
    .auraImg img{
        height: 30px;
}
.meet{
    display: flex;
    width: 100%;
    margin: 0%;
    padding: 0%;
 
}
.meetL{
    width: 100%;
     margin: 0%;
    padding: 0%;
    
}
.meetH1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    width: 90%;
    margin: 10px 5%;
}
.meetH2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    width: 90%;
    margin: 10px 5%;
}
.meetR{
    display: none;
}
}