.design-process {
  height: fit-content;
  width: 100%;
  padding: 40px var(--left-space);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.design-process .process-img {
  width: 100%;
  max-width: 900px;
}
.design-process p {
  text-align: center;
}
.design-process .buttons-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

@media (max-width: 900px) {
  .design-process {
    gap: 10px;
  }
  .design-process .process-img {
    width: 100%;
  }
  .design-process .buttons-container {
    gap: 10px;
    margin-top: 20px;
    flex-direction: column;
  }
}
