.graphic-hero {
  height: fit-content;
  width: 100%;
  padding: 40px var(--left-space);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.graphic-hero .hero-img {
  width: 100%;
  max-width: 900px;
}
.graphic-hero p {
  text-align: center;
}
.graphic-hero .buttons-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.graphic-hero .buttons-container .arrow-img {
  width: 100px;
  margin-top: -40px;
}

@media (max-width: 900px) {
  .graphic-hero {
    gap: 10px;
  }
  .graphic-hero .hero-img {
    width: 100%;
  }
  .graphic-hero .buttons-container {
    gap: 10px;
    margin-top: 20px;
    flex-direction: column;
  }
  .graphic-hero .buttons-container .arrow-img {
    display: none;
  }
}
