.mainhead-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

 
.mainhead-title {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 59.8px;
  letter-spacing: 0;
  color:var(--text-dark);
  margin-bottom: 25px;
}

 
.mainhead-meta {
  display: flex;
  gap: 30px;
  font-size: 16px;
  color: var(--foot-color);
  font-weight: 400;
  flex-wrap: wrap;
  align-items: center;
}

.mainhead-meta span {
  display: inline-block;
}

 
.author-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.feature-img {
  margin-top: 20px;
  max-width: 1188px;              
  min-height: 550px;             
  border-radius: var(--border-radius);       
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

 
@media (max-width: 1024px) {
  .mainhead-title {
    font-size: 40px;
    line-height: 48px;
  }

  .mainhead-meta {
    font-size: 14px;
    gap: 20px;
  }
}

 
@media (max-width: 768px) {
  .mainhead-title {
    font-size: 28px;
    line-height: 36px;
  }

  .mainhead-meta {
    font-size: 13px;
    gap: 15px;
  }

  .mainhead-meta .date {
  display: none;
  }

  .feature-img {             
  min-height: 350px;              
}
}
