/* Section wrapper */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
  background: linear-gradient(135deg, #ff6600, #d46803);
  flex-wrap: wrap;
  color: #fff;
  height: 610px;
 margin-bottom: 20px;
}
.midd img{
    height: 600px;
    max-width: 300px;
    margin-left: -300px;
}

/* Left side image */
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

.hero-image img {
  max-width: 700px;
  height: 600px;
   margin-left: -300px;
  /* margin-top: -150px; */ 
   /* mix-blend-mode: screen; */

}

/* Right side content */
.hero-content {
  flex: 1;
  max-width: 700px;
  margin-right: 20px;
  margin-left: -100px;
}

.hero-content h2 {
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.hero-content ul {
  list-style: disc;
  margin-left: 10px;
  margin-bottom: 30px;
}

.hero-content ul li {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 12px;
  color: #f0f0f0;
}

/* Buttons */
.button-group {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.btun {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Black button */
.btn-dark {
  background: #000;
  color: #fff;
}

.btn-dark:hover {
  background: #fcfbfb;
  color: #000;
}

/* Outline button */
.btnn-outline {
  background: transparent;
  color:white;
  border: 2px solid #f8f7f7;
  
}

.btnn-outline:hover {
  background: #000;
  color: #fff;
}

/* Arrow styles */
.arrow5 {
  display: inline-block;
  font-size: 16px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  padding: 3px 6px;
}
.arrow6{
 display: inline-block;
  font-size: 16px;
  background: #0a0808;
  color: #faf8f8;
  border-radius: 50%;
  padding: 3px 6px;
}

.btn-outline .arrow {
  background: #000;
  color: #fff;
}
@media (max-width: 700px){
  .hero-section{
   flex-wrap: nowrap;
    flex-direction: column;
   height: 1000px;
  }
  .midd img{
    display: none;
  }
 

.hero-image img {
  max-width: 500px;
  height: 300px;
  margin-left: 10px;
  /* margin-top: -150px; */ 
   /* mix-blend-mode: screen; */

}
.hero-content {
  
  max-width: 300px;
 margin-left: 10px;
  
}
.hero-content h2 {
  font-size: 25px;
  font-weight: bold;
  
  color: #fff;
}

.hero-content ul li {
  font-size: 15px;
  
  margin-bottom: 12px;
  color: #f0f0f0;
}
.btun {
  font-size: 15px;
}
}
