:root {
  --font-geist-sans: "Geist", sans-serif;
  --font-Century-Gothic: "Century Gothic", Arial, sans-serif;
  --font-syne: "Syne", sans-serif;
  --primary-color: #f94900;
  --secondary-color: #ffffff;
  --dark-orange: #d9481c;
  --text-color: #333;
  --text-dark: #000;
  --text-gray: #555;
  --para-text: #4a5568;
  --foot-color: #718096;
  --light-gray: #f8fbfd;
  --dark-gray: #ededed;
  --grayy: #515151;
  --dark-orange: #d9481c;
  --orange-color: #e85319;
  --light-orange: hsla(17, 82%, 50%, 0.2);
  --border-radius: 6px;
  --border-radius2: 25px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --bold-font-weight: 700;
  --default-width: 90%;
  --left-space: 5%;
  --heading-one: 56px;
  --heading-two: 42px;
  --heading-three: 32px;
  --heading-four: 24px;
  --default-p-size: 16px;
  --p-line-height: 1.4;
  --heading-line-height: 1.2;
  --gradient-one: linear-gradient(90deg, var(--primary-color), #932b00);
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanThin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanLight.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanLightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanRegular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanItalic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanSemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanSemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanBold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanBoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ExtraBold (800) */
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black (900) */
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanBlack.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanBlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: var(--font-Century-Gothic);
}

h1 {
  font-family: var(--font-syne);
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.section-heading {
  font-size: var(--heading-two);
  font-weight: var(--bold-font-weight);
  color: var(--text-dark);
  text-align: center;
}
.buttons-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.buttons-container .arrow-img {
  width: 100px;
  margin-top: -40px;
}

@media (max-width: 900px) {
  :root {
    --default-width: 90%;
    --left-space: 5%;
    --default-box-shadow: 0px 0px 2px black;
    --heading-one: 32px;
    --heading-two: 28px;
    --heading-three: 24px;
    --heading-four: 18px;
    --default-p-size: 14px;
  }
  .buttons-container {
    gap: 10px;
    margin-top: 20px;
  }
  .buttons-container .arrow-img {
    display: none;
  }
  .not-found-heading {
    font-size: 80px !important;
  }
}
