:root {
  --font-geist-sans: "Geist", sans-serif;
  --font-syne: "Syne", sans-serif;
  --primary-color: #f94900;
  --secondary-color: #ffffff;
  --dark-orange: #d9481c;
  --text-color: #333;
  --text-dark: #000;
  --text-gray: #555;
  --para-text: #4a5568;
  --foot-color: #718096;
  --light-gray: #f8fbfd;
  --border-radius: 6px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --bold-font-weight: 700;
  --default-width: 90%;
  --left-space: 5%;
  --heading-one: 56px;
  --heading-two: 42px;
  --heading-three: 32px;
  --heading-four: 24px;
  --default-p-size: 16px;
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: var(--font-geist-sans);
}

h1 {
  font-family: var(--font-syne);
}
button,
input,
select,
textarea {
  font-family: inherit;
}

.section-heading {
  font-size: var(--heading-two);
  font-weight: var(--bold-font-weight);
  color: var(--text-color);
}
.buttons-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.buttons-container .arrow-img {
  width: 100px;
  margin-top: -40px;
}

@media (max-width: 900px) {
  :root {
    --default-width: 90%;
    --left-space: 5%;
    --default-box-shadow: 0px 0px 2px black;
    --heading-one: 32px;
    --heading-two: 28px;
    --heading-three: 24px;
    --heading-four: 18px;
  }
  .buttons-container {
    gap: 10px;
    margin-top: 20px;
    flex-direction: column;
  }
  .buttons-container .arrow-img {
    display: none;
  }
}
