.welcome {
  width: 100%;
  padding: var(--left-space);
  background-color: var(--secondary-color);
}

.welcome .welcome-title {
  font-size: var(--heading-two);
  line-height: 1.2;
  margin-bottom: 30px;
  text-align: center;
}
.welcome .welcome-title span {
  display: block;
}
.welcome .partner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.welcome .partner-section .left {
  display: flex;
  gap: 20px;
  width: 50%;
}
.welcome .partner-section .left .left-images {
  height: 420px;
}
.welcome .partner-section .left .left-images .image1 {
  height: 380px;
}
.welcome .partner-section .left .left-images .image2 {
  display: flex;
  justify-self: flex-end;
  margin-top: 20px;
}
.welcome .partner-section .left .right-images {
  height: 420px;
}
.welcome .partner-section .left .right-images .image3 {
  display: flex;
  justify-self: flex-start;
  margin-bottom: 20px;
}
.welcome .partner-section .left .right-images .image4 {
  height: 380px;
}

.right {
  width: 50%;
}

.right h3 {
  font-size: var(--heading-four);
  margin-bottom: 12px;
  line-height: 1.3;
}
.right h3 span {
  display: block;
}

.right p {
  color: var(--text-gray);
  margin-bottom: 24px;
}

/* Progress bars */
.progress-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.progress-item .label {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 6px;
}
.progress-item .label span:first-child {
  font-weight: var(--bold-font-weight);
}
.progress-item .label span:last-child {
  color: var(--primary-color);
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #eee;
  border-radius: 6px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #f97316; /* Orange */
  border-radius: 6px;
  transition: width 1s ease-in-out;
}

/* Button */
.button-parent {
  border-radius: var(--border-radius2);
  padding: 4px 0 4px 6px;
  border: 1px solid var(--primary-color);
  width: fit-content;
}
.button-parent .welcome-btn {
  padding: 8px 10px;
  background: var(--text-dark);
  color: var(--secondary-color);
  border: 1px solid var(--text-dark);
  border-radius: var(--border-radius2);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: -15px;
}
.button-parent .welcome-btn svg {
  transform: rotate(-45deg);
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.button-parent .welcome-btn:hover svg {
  transform: rotate(0deg);
}
@media (max-width: 900px) {
  .welcome .partner-section {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .welcome .welcome-title {
    margin-bottom: 20px;
  }
  .welcome .welcome-title span {
    display: inline;
  }

  .welcome .partner-section .left {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .welcome .partner-section .right {
    width: 100%;
  }
  .right h3 span {
    display: inline;
  }
  .welcome .partner-section .left .left-images {
    height: 300px;
  }
  .welcome .partner-section .left .left-images .image1 {
    height: 200px;
  }
  .welcome .partner-section .left .right-images {
    height: 300px;
  }
  .welcome .partner-section .left .right-images .image4 {
    height: 200px;
  }
  .progress-item .label {
    font-size: 16px;
  }
  .button-parent .welcome-btn {
    font-size: 14px;
    padding: 10px;
  }
}
