.why-choose {
  width: 100%;
  padding: 40px var(--left-space);
  position: relative;
  background-image: url(/why-choose.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}

/* Overlay layer */
.why-choose::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8); /* adjust opacity */
  z-index: -1; /* behind text */
}

.why-choose h2 {
  color: var(--secondary-color);
  text-align: center;
  position: relative;
  z-index: 2;
  width: 50%;
  margin: 10px auto;
  line-height: var(--heading-line-height);
}
.why-choose p {
  color: var(--secondary-color);
  text-align: center;
  position: relative;
  z-index: 2;
  width: 80%;
  margin: 20px auto;
  line-height: var(--p-line-height);
  font-size: var(--default-p-size);
}
@media (max-width: 900px) {
  .why-choose h2 {
    width: 100%;
  }
  .why-choose p {
    width: 100%;
  }
}
