.join-us {
  width: 90%;
  margin: 0 auto;
}
.profile-image {
  flex: 1;
  background-image: url("/Group\ 143.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.form-wrapper {
  background: #f2f4f7;
  border-radius: var(--border-radius);
  padding: 40px;
  overflow: hidden;
}

.form-header {
  text-align: center;
  margin-bottom: 30px;
}

.form-title {
  font-size: var(--heading-three);
  color: var(--text-dark);
  margin-bottom: 10px;
}

.form-subtitle {
  color: #666;
  line-height: 1.6;
}

.form-body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}

.form-left {
  width: 40%;
  border-top: 3px solid #eaeaea;
  padding-top: 40px;
}

.form-right {
  width: 60%;
  background: url("/Group.png") no-repeat center right;
  background-size: contain;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.form-row .form-group {
  flex: 1; /* make both inputs take equal space */
}

input {
  padding: 12px;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  width: 100%;
  background: var(--secondary-color);
}

label {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-dark);
}

.upload-box {
  border: 2px dashed var(--primary-color);
  padding: 20px;
  text-align: center;
  border-radius: var(--border-radius);
  background: var(--secondary-color);
  cursor: pointer;
}

.upload-box p {
  margin: 0;
  font-size: 13px;
  color: #777;
}

.upload-box span {
  display: block;
  margin-top: 8px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 14px;
}

.sen-btn {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 14px;
  border: none;
  border-radius: var(--border-radius);
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  margin-left: 0;
  text-align: center;
  display: block;
}

.sen-btn:hover {
  background: #e05528;
}
.error-msg {
  font-size: 14px;
  color: red;
}
@media (max-width: 900px) {
  .form-wrapper {
    padding: 20px 10px;
  }
  .form-body {
    flex-direction: column;
  }

  .form-left {
    max-width: 100%;
    order: 2;
    width: 100%;
    padding-top: 20px;
  }

  .form-right {
    width: 100%;
    height: 250px;
    background-position: center;
    margin-top: 20px;
    order: 1;
  }

  .form-row {
    flex-direction: column;
    gap: 10px;
  }

  .send-btn {
    width: 100%;
  }

  .profile-image {
    width: 100%;
    height: 220px;
    margin-left: 0;
    background-position: center;
    background-size: cover;
  }
}
