.blog-detail {
  width: 100%;
  padding: 40px var(--left-space);
}
.main-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 900px) {
  .main-section {
    flex-direction: column;
    padding: 15px;
  }
}
