.services-cards {
  width: 100%;
  padding: 40px var(--left-space);
}

.services-cards-grid {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}

.each-card {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 20px;
  background: var(--secondary-color);
  transition: all 0.3s ease;
  width: 100%;
  max-width: 340px;
}

.each-card:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.small-line {
  border-radius: 21px;
  width: 4px;
  height: 30px;
  background-color: var(--primary-color);
}
.service-icon {
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 15px;
  width: 60px;
}

.each-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  min-height: 60px;
}

.each-card p {
  font-size: 14px;
  color: var(--text-gray);
  line-height: 1.5;
  margin-bottom: 16px;
  min-height: 140px;
  word-wrap: break-word; /* older support */
  overflow-wrap: break-word; /* modern */
  white-space: normal;
}

.each-card span {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.each-card span svg {
  color: var(--text-dark);
}

.each-card span:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
@media (max-width: 900px) {
  .services-cards-grid{
    justify-content: center;
  }
  .each-card h3 {
    font-size: 18px;
  }
  .small-line {
    display: none;
  }
}
