.full-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.custom-html-styles {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 24px;
  color: var(--text-dark);
  text-align: justify;
}


@media (min-width: 640px) {
  .custom-html-styles {
    padding-left: 32px;
    padding-right: 32px;
  }
}
