.graphic-hero {
  height: fit-content;
  width: 100%;
  padding: 40px var(--left-space);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.graphic-hero .graphic-hero-img {
  width: 100%;
  max-width: 900px;
}
.graphic-hero p {
  text-align: center;
}

@media (max-width: 900px) {
  .graphic-hero {
    gap: 10px;
    padding: 10px var(--left-space);
  }
  .graphic-hero .graphic-hero-img {
    width: 100%;
  }
}
